@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 400 1.4rem/1.6 'Inter', 'Amazon Ember', 'Segoe UI', sans-serif;
  color: #111827;
  background: #232f3e;
  overflow: auto;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background: #ffffff;
}
